<!doctype html>
<html ng-app="CalModule">
<head>
	<meta charset="UTF-8">
	<title>Module - AngularJS</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="js/controller.js"></script>
</head>
<body>
	<div class="alert alert-info">
	  <a href="/">Home</a> |
	  <a href="https://docs.angularjs.org/guide/module">module</a>
	</div>
    <form class="span5 form-inline" style="margin-top:20px;" ng-controller="CalCtrl">
    	<div class="alert alert-info">
    		<input type="number" class="input-small" ng-model="num1">
    		<span>*</span>
    		<input type="number" class="input-small"ng-model="num2" disabled>
    		<span>=</span>
    		{{ num1 * num2}}
    	</div>
    </form>
</body>
</html>
