
<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>ngCalss - AngularJS</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="js/controller.js"></script>
    <style>
        .red {
        	color: red;
        }
        .bold {
        	font-weight: bold;
        }
        .italic {
        	font-style: italic;
        }
    </style>
</head>
<body>
	<div class="alert alert-info">
	  <a href="/">Home</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngCalss">ng-class</a>
	</div>
	
    <div class="well span4" style="margin-top:20px;" ng-init="ngClass='red';">
    	<div ng-class="ngClass">Angular.js</div>
    </div>
    
    <div class="well span4" style="margin-top:20px;" 
        ng-init="red='red';bold='';italic='italic';">
    	<div ng-class="[red, bold, italic]">Angular.js ngCalss with Array</div>
    </div>
    
    <div class="well span4" style="margin-top:20px;" ng-controller="NgCalssCtrl">
    	<div ng-class="cssClass[useItalic]">Angular.js ngCalss with Object</div>
    </div>
    
    <div class="well span4" style="margin-top:20px;">
    	<label><input type="checkbox" ng-model="useRed" style="margin:0;"> 紅色？</label>
    	<label><input type="checkbox" ng-model="useBold" style="margin:0;"> 粗體？</label>
    	<label><input type="checkbox" ng-model="useItalic" style="margin:0;"> 斜體？</label>
    	<div ng-class="{ red: useRed, bold: useBold, italic: useItalic }">Angular.js ngCalss with true/false</div>
    </div>
</body>
</html>
