<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>ngOptions（一） - AngularJS</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="js/options.js"></script>
</head>
<body>
	<div class="alert alert-info">
	  <a href="/">Home</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/select">select</a> |
	  <a href="http://goo.gl/xwGbmW">搞懂 ngOptions 用法</a>
	</div>
  <div class="span6" style="margin-top:20px;" ng-controller="SelectCtrl">
  	<div class="alert alert-info">
      <div>
        member for member in onepiece<br/>
        （label for value in array）
      </div>
  		<select ng-model="selected" ng-options="member for member in onepiece">
  			<option value="">--請選擇角色--</option>
  		</select>
      <br/><br/>
      <div>
        i as member for (i, member) in onepiece<br/>
        （select as label for (key , value) in object）
      </div>
      <select ng-model="selected" ng-options="i as member for (i, member) in onepiece">
      	<option value="">--請選擇角色--</option>
      </select>
      <br/><br/>
      <div>
        i as i + '：' + member for (i, member) in onepiece<br/>
        （select as label for (key , value) in object）
      </div>
      <select ng-model="selected" ng-options="i as i + '：' + member for (i, member) in onepiece">
      	<option value="">--請選擇角色--</option>
      </select>
      <br/><br/>
      <div>
        member group by i for (i, member) in onepiece<br/>
        （label group by group for (key, value) in object）
      </div>
      <select ng-model="selected" ng-options="member group by i for (i, member) in onepiece">
      	<option value="">--請選擇角色--</option>
      </select>
      <br/><br/>
      <div>
        i as member group by i for (i, member) in onepiece<br/>
        （select as label group by group for (key, value) in object）
      </div>
      <select ng-model="selected" ng-options="i as member group by i for (i, member) in onepiece">
      	<option value="">--請選擇角色--</option>
      </select>
      <br/>
  		<p ng-show="selected!=''">選擇的是：{{ selected }}</p>
  	</div>
  </div>
</body>
</html>
