<!doctype html>
<html ng-app>
<head>
  <meta charset="UTF-8">
  <title>ngOptions（一） - AngularJS</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="js/options.js"></script>
</head>
<body>
  <div class="alert alert-info">
    <a href="/">Home</a> |
    <a href="https://docs.angularjs.org/api/ng/directive/select">select</a> |
    <a href="http://goo.gl/xwGbmW">搞懂 ngOptions 用法</a>
  </div>
  <div class="span10" style="margin-top:20px;" ng-controller="SelectCtrl_2">
    <div class="alert alert-info">
      <p>
        member.name for member in onepiece<br/>
        （label for value in array）
      </p>
      <select ng-model="selected" ng-options="member.name for member in onepiece">
        <option value="">-- 請選擇角色 --</option>
      </select>

      <p>
        member.name as (member.name + '（' + member.age + '）') in onepiece<br/>
        （select as label for value in array）
      </p>
      <select ng-model="selected"
        ng-options="member.name as (member.name + '（' + member.age + '）') for member in onepiece">
        <option value="">-- 請選擇角色 --</option>
      </select>

      <p>
        member.name group by member.age for member in onepiece<br/>
        （label group by group for value in array）
      </p>
      <select ng-model="selected" ng-options="member.name group by member.age for member in onepiece">
        <option value="">-- 請選擇角色 --</option>
      </select>

      <p>
        member as member.name group by member.age for member in onepiece track by member.age<br/>
        （select as label group by group for value in array track by trackexpr）
      </p>
      <select ng-model="selected"
        ng-options="member as member.name group by member.age for member in onepiece track by member.age">
        <option value="">-- 請選擇角色 --</option>
      </select>

      <br/>
      <p ng-show="selected">選擇的是：{{ selected }}</p>
      <p ng-show="selected.name">選擇的是：{{ selected.name + '（' + selected.age + '）' }}</p>
    </div>
  </div>
</body>
</html>
