<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>ngRepeat (二) - AngularJS</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="js/controller.js"></script>
	<style>
    .friend-first-true {
    	color: red;
    }
    .friend-middle-true {
      color: blue;
    }
    .friend-last-true {
      color: green;
    }
	</style>
</head>
<body>
	<div class="alert alert-info">
	  <a href="/">Home</a> |
	  <a href="https://docs.angularjs.org/api/ng/filter/filter">filter</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngRepeat">ng-repeat</a>
	</div>
	<div class="well span6" style="margin-top:20px;" ng-controller="FriendsCtrl">
		<label>搜尋：</label>
    <input type="text" ng-model="q">
    <hr>
    <p>
        <div ng-repeat="friend in friends | filter:q">
            {{ $index + 1 }}. {{ friend.name }} ({{ friend.age }})
            <span class="friend-first-{{$first}}" ng-show="$first">[第一筆]</span>
            <span class="friend-middle-{{$middle}}" ng-show="$middle">[中間的]</span>
            <span class="friend-last-{{$last}}" ng-show="$last">[最後一筆]</span>
        </div>
    </p>
	</div>
</body>
</html>