<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>資料綁定、驗證（一）- AngularJS</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="js/form.js"></script>
  <style type="text/css">
    .ng-invalid.ng-dirty {
      background-color: yellow;
    }
  </style>
</head>
<body>
	<div class="alert alert-info">
	  <a href="/form">Home</a> |
	  <a href="https://github.com/tiw/angularjs-tutorial">Tutorial</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngForm">ng-form</a>
	</div>
	<div class="well span8">
	  <form name="personForm" ng-controller="PersonCtrl" ng-submit="save()">
      <input name="name" type="text" required ng-model="person.name" 
       ng-change="change();" placeholder="姓名.."/>
      <span ng-show="!personForm.name.$valid">提示：</span>
      <span ng-show="personForm.name.$error.required">此欄必填</span>
      <br/>
      <input name="email" type="email" ng-model="person.email"
       ng-change="change();" placeholder="Email.."/>
      <span ng-show="personForm.email.$error.email">Email 格式錯誤</span>
      <br/>
      <input type="submit" ng-disabled="personForm.$invalid"/>
      <br/>
      <h4 ng-bind="debug"></h4>
		<form>
	</div>
</body>
</html>