<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Controller - AngularJS</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="js/controller.js"></script>
</head>
<body>
	<div class="alert alert-info">
	  <a href="/basic">Home</a> |
	  <a href="https://docs.angularjs.org/guide/controller">Controllers</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngController">ng-controller</a>
	</div>
	<div class="well span6" ng-controller="PersonCtrl">
		<label>姓名：</label>
		<input type="text" ng-model="person.name" placeholder="輸入姓名..">
		<br>
		<label>年齡：</label>
		<input type="text" ng-model="person.age" placeholder="輸入年齡..">
	</div>
	<!-- 同頁面不同區塊共用同一個 PersonCtrl controller -->
	<div class="well span6" ng-controller="PersonCtrl">
    <h2>{{ person.name }} 現在 <span ng-bind="person.age">？</span> 歲大</h2>
    <h4 ng-bind="person.msg"></h4>
	</div>
	<div class="well span6" ng-controller="AnonymousCtrl">
    <h2>{{ anonymous }}</h2>
	</div>
</body>
</html>