<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>取代 HTML 標籤裡的屬性：ng-href 與 ng-src - AngularJS</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
	<div class="alert alert-info">
	  <a href="/basic">Home</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngHref">ng-href</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngSrc">ng-src</a> |
	</div>
    <div class="span5" style="margin-top:20px;" 
      ng-init="href='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwYk-Q6L47_LymaFXcXrkom8KuY1UJ-DEWXODN72QY9HmUJhKJ';">
    	<div class="alert">
    		<button class="btn btn-primary" 
    		 ng-click="href='https://pbs.twimg.com/profile_images/378800000629767461/5c5bac0da24cad68077969a2b5147845.png';">
    		  圖片改為 angularjs png
    		 </button>
    		<button class="btn btn-primary" 
    		 ng-click="href='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwYk-Q6L47_LymaFXcXrkom8KuY1UJ-DEWXODN72QY9HmUJhKJ';">
    		   圖片改為 guess png
    		</button>
    	</div>
    	<div class="alert alert-success">
    	    <img ng-src="{{ href }}">
    		<a ng-href="{{ href }}">瀏覽圖片</a>
    	</div>
    </div>
</body>
</html>
