<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Controller - AngularJS</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>
<body>
	<div class="alert alert-info">
	  <a href="/basic">Home</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngInit">ng-init</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngChecked">ng-checked</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngDisabled">ng-disabled</a> |
	  <a href="https://docs.angularjs.org/api/ng/directive/ngReadonly">ng-readonly</a>
	</div>
	<div class="well span6" ng-init="greeting='哈囉~';name='AngularJS';">
		<input type="text" ng-model="name" placeholder="在此輸入名字..">
		<hr>
		<h1>{{ greeting }} {{ name }}</h1>
	</div>
	<div class="well span6">
	  <label>
	    <input type="checkbox" ng-model="selectAll"/>
	    全選/全取消
	   </label>
    <input type="checkbox" ng-checked="selectAll"/>
    <input type="checkbox" ng-checked="selectAll"/>
    <input type="checkbox" ng-checked="selectAll"/>
    <input type="checkbox" ng-checked="selectAll"/>
    <input type="checkbox" ng-checked="selectAll"/>
  </div>
	<div class="well span6">
	  <label>
	    <input type="checkbox" ng-model="agree"/>
	    我同意
	  </label>
    <input type="text" ng-disabled="!agree" value="angularjs"/><br/>
    <button class="btn btn-primary" ng-disabled="!agree">開始下載</button>
  </div>
	<div class="well span6">
	  <label>
	    <input type="checkbox" ng-model="readonly"/>
	    唯讀
	  </label>
    <input type="text" ng-readonly="readonly" value="angularjs"/><br/>
    <textarea ng-readonly="readonly">angularjs</textarea>	
  </div>
</body>
</html>
